html {
  box-sizing: border-box;
  /* Prevents Padding from adding Extra Width or Height to the Page */
}

body {
  margin: 0;
  min-height: 100vh;
  /* vh Stands for ViewPort Height (Height of Entire Window that your in)
  Always Streth Background the Entire Height of the Screen EVENIF the content isnt enough to take up the full height of the screen */
}